
.homepage {
  padding: 20px;
  font-family: "Quicksand", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(255, 132, 0);
  padding: 10px 20px;
  position: relative;
  bottom: 20px;
  right: 20px;
  width: 100%;
  border-radius: 0px 0px 20px 0px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.header h1{
  font-size: 24px;
  color: white;
}

.profile-container {
  position: relative;
  
}

.profile-btn {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  background-color: rgb(255, 132, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.profile-btn:hover{
  scale: 1.05;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  text-align: left;
  width: max-content;
  font-family: "Quicksand", sans-serif;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 20px;
  
  
}
.dropdown-item:hover {
  background-color: #f0f0f0;
}

.event-cards {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.event-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  height: 480px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.event-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.event-card h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.event-card p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.book-ticket-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: rgb(255, 132, 0);
  color: white;
  border: none;
  position: relative;
  left: 60px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
  font-family: "Quicksand", sans-serif;
}

.book-ticket-btn:hover {
  background-color: rgb(244, 189, 9);;
}